.header {
    /* position: static; */
    background-color: #eeeeee;
    height: 90px
}

.logoFont {
    margin-top: 20px;
    margin-right: 60px;
    float: right;
    font-size: 2em;
}

.logo {
    height: 80px;
    /* background: url(../assets/wizard.png) no-repeat right center; */
    background-size: 80px 80px;
    /* display: inline; */
    float: right;
}
